@charset "UTF-8";
/* Указываем box sizing */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
}

@-webkit-keyframes close {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border-radius: 30px;
  padding: 15px 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9224D6), to(#BD87DE));
  background: linear-gradient(#9224D6, #BD87DE);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BD87DE), to(#9224D6));
  background-image: linear-gradient(#BD87DE, #9224D6);
}

.btnTransp {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 35px 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btnTransp:hover {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.container {
  width: 1200px;
  max-width: 95%;
  margin: auto;
}

main {
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
}
.header .header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__wrap .header__wrap-navBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__wrap .header__nav .header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__wrap .header__nav .header__items .header__item {
  margin-right: 50px;
}
.header .header__wrap .header__nav .header__items .header__item .header__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.8;
}
.header .header__wrap .header__nav .header__items .header__item .header__link:hover {
  opacity: 1;
}
.header .header__wrap .header__bars {
  display: none;
}
.header .header__wrap .header__bars i {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}

.header__button .btnTransp {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 35px 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__button .btnTransp:hover {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.main__block {
  width: 100%;
  min-height: 900px;
  background: url(../img/mainBg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 210px;
}
.main__block .main__block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__block-title {
  width: 650px;
  max-width: 100%;
}
.main__block-title .main__block-branding {
  margin-bottom: 20px;
}
.main__block-title .main__block-branding span {
  position: relative;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #ffffff;
  text-transform: uppercase;
}
.main__block-title .main__block-branding span.span_dodt {
  margin-right: 39px;
}
.main__block-title .main__block-branding span.span_dodt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}
.main__block-title .main__block-header {
  margin-bottom: 20px;
}
.main__block-title .main__block-header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 70px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main__block-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
}
.main__block-title .main__block-buttons {
  margin-bottom: 60px;
}
.main__block-title .main__block-buttons a {
  margin-right: 10px;
}
.main__block-title .main__block-social {
  width: 370px;
  max-width: 100%;
  margin-bottom: 25px;
}
.main__block-title .main__block-social .block__social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__block-title .main__block-social .block__social-wrap img {
  display: inline-block;
  width: 98px;
  height: 26px;
  cursor: pointer;
}

.main__block-img {
  width: 610px;
  max-width: 100%;
  height: 603px;
  background: url(../img/Hero-img.png) no-repeat center;
  background-size: contain;
  margin-top: -51px;
  margin-right: -30px;
}

.episodes {
  width: 100%;
  padding: 100px 0 50px 0;
}
.episodes h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}
.episodes .episodes__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.episodes .episodes__wrap .episodes__linkAll {
  position: absolute;
  top: -60px;
  right: 0;
}
.episodes .episodes__wrap .episodes__linkAll a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #9224D6;
  text-decoration: none;
}
.episodes .episodes__wrap .episodes__block {
  width: 378px;
  max-width: 100%;
  margin-bottom: 64px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.episodes .episodes__wrap .episodes__block:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.episodes__block-img {
  margin-bottom: 32px;
}
.episodes__block-img img {
  width: 100%;
  height: auto;
}

.episodes__block-brend {
  margin-bottom: 19px;
}
.episodes__block-brend span {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000000;
}
.episodes__block-brend span.span_dodt {
  margin-right: 28px;
}
.episodes__block-brend span.span_dodt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
}

.episodes__block-title {
  margin-bottom: 10px;
}
.episodes__block-title h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
}

.episodes__block-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 20px;
}

.episodes__block-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.episodes__block-play a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.episodes__block-play a img {
  width: 21px;
  height: 21px;
  margin-right: 12px;
}

.host {
  width: 100%;
  padding: 50px 0 100px;
}

.host__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host__blocks .host__block-img {
  width: 584px;
  height: 598px;
  background: url(../img/img_content_host.png) no-repeat center;
  background-size: contain;
}
.host__blocks .host__block-text {
  width: 560px;
  max-width: 100%;
}
.host__blocks .host__block-text h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 44px;
}
.host__blocks .host__block-text p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 30px;
}

.host__block-buton {
  color: #000000;
}
.host__block-buton .btnTransp {
  color: #1C1B1E;
  border-color: #1C1B1E;
}

.topics {
  width: 100%;
  padding-bottom: 100px;
}
.topics h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}

.topics__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.topics__blocks .topics__linkAll {
  position: absolute;
  top: -60px;
  right: 0;
}
.topics__blocks .topics__linkAll a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #9224D6;
  text-decoration: none;
}

.topics__block {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.topics__block .topics__block-img {
  margin-bottom: 18px;
}
.topics__block .topics__block-img img {
  width: 100%;
  height: auto;
}
.topics__block h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 10px;
}
.topics__block .topics__block-episode a {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}
.topics__block .topics__block-episode a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000000;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.topics__block .topics__block-episode a:hover::before {
  width: 100%;
}

.connection__fon {
  width: 100%;
  padding: 115px 20px;
  background: url(../img/form_bg.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
}
.connection__fon h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
.connection__fon p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 49px;
}
.connection__fon form {
  width: 515px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.connection__fon form input[type=email] {
  width: 367px;
  max-width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: transparent;
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=email]:focus, .connection__fon form input[type=email]:active {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.connection__fon form input[type=submit] {
  width: 148px;
  height: 47px;
  background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: 0;
  margin-left: -5px;
  cursor: pointer;
}
.connection__fon form input[type=submit]:hover {
  background: linear-gradient(265.37deg, #BD87DE, #9224D6);
}

.footer {
  width: 100%;
  padding-top: 100px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.footer__wrap .footer__one-block {
  width: 345px;
  max-width: 100%;
}
.footer__wrap .footer__one-block .footer__one-wrap {
  padding-bottom: 17px;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #1C1B1E;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer__logo img {
  margin-right: 18px;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #1C1B1E;
  opacity: 0.6;
  margin-bottom: 84px;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer_social a {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
  margin-right: 54px;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer_social a.dodt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -27px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
}
.footer__wrap .footer__one-block .footer__one-wrap .footer_social a:last-child {
  margin-right: 0;
}
.footer__wrap .footer__two-block {
  width: 624px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__wrap .footer__two-block ul li:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 25px;
}
.footer__wrap .footer__two-block ul li {
  margin-bottom: 10px;
}
.footer__wrap .footer__two-block ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}
.footer__wrap .footer__two-block ul .contact__adres {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}

.footer__bottom {
  padding: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__bottom .footer__bottom-copy {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}
.footer__bottom .footer__bottom-copy a {
  text-decoration: underline;
  color: #5f0ae9;
}
.footer__bottom .footer__bottom-privacy a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}

/* Мобильное меню */
.mobile__menu {
  position: fixed;
  top: 0;
  left: -105%;
  bottom: 0;
  width: 350px;
  max-width: 95%;
  background: url(../img/mainBg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mobile__menu .header__wrap {
  position: relative;
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile__menu .header__wrap .header__wrap-navBtn {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile__menu .header__wrap .header__wrap-navBtn .header__item {
  margin-bottom: 15px;
}
.mobile__menu .header__wrap .header__wrap-navBtn .header__item .header__link {
  color: #210d5c;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #210d5c;
  text-decoration: none;
  font-size: 40px;
  font-weight: 900;
  text-shadow: -10px 10px 20px #ffffff;
}
.mobile__menu .header__wrap .header__wrap-navBtn .header__button {
  width: 100%;
  text-align: center;
}
.mobile__menu .header__wrap .header__wrap-navBtn .header__button a.btnTransp {
  width: 95%;
  text-align: center;
}
.mobile__menu .mobile__header-bars {
  position: absolute;
  top: -24px;
  right: -9px;
}
.mobile__menu .mobile__header-bars i {
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mobile__menu .mobile__header-bars i:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mobile__menu_active {
  left: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

/* ---/// ---Мобильное меню */
/* Всплывающее окно для регистрации */
.popup__signUp {
  position: fixed;
  width: 400px;
  max-width: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  background: url(../img/mainBg.jpg) no-repeat center;
  background-size: cover;
  padding: 20px;
  -webkit-box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.popup__signUp .popup__header {
  color: #210d5c;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #210d5c;
  text-decoration: none;
  font-size: 35px;
  font-weight: 900;
  text-shadow: -10px 10px 20px #ffffff;
  margin-bottom: 20px;
}
.popup__signUp form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__signUp form div {
  width: 49%;
  margin-bottom: 8px;
}
.popup__signUp form div input, .popup__signUp form div select {
  width: 100%;
  height: 45px;
}
.popup__signUp form div input[type=submit] {
  background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
  border-radius: 5px;
  font-weight: 500;
  height: 44pxW;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
.popup__signUp form div input[type=email], .popup__signUp form div [type=text], .popup__signUp form div select {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: transparent;
  padding-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.popup__signUp form div select {
  padding-left: 0px;
}
.popup__signUp form div select option {
  color: #000000;
}
.popup__signUp .popup__close {
  position: absolute;
  top: 3px;
  right: 10px;
}
.popup__signUp .popup__close span {
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}
.popup__signUp .popup__close:hover span:nth-child(1) {
  -webkit-animation: close 0.5s;
          animation: close 0.5s;
}
.popup__signUp .popup__close:hover span:nth-child(3) {
  -webkit-animation: close 0.5s 0.2s;
          animation: close 0.5s 0.2s;
}
.popup__signUp .popup__close:hover span:nth-child(2) {
  -webkit-animation: close 0.5s 0.4s;
          animation: close 0.5s 0.4s;
}
.popup__signUp .popup__close:hover span:nth-child(4) {
  -webkit-animation: close 0.5s 0.7s;
          animation: close 0.5s 0.7s;
}
.popup__signUp .popup__close:hover span:nth-child(5) {
  -webkit-animation: close 0.5s 1s;
          animation: close 0.5s 1s;
}
.popup__signUp_active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

/*---/// Всплывающее окно для регистрации */
@media (max-width: 1024px) {
  .main__block-title .main__block-header h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px !important;
  }

  .main__block-title p {
    font-size: 14px;
  }

  .main__block-title .main__block-branding span {
    font-size: 16px;
  }

  .episodes .episodes__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .host {
    padding: 0 0 0px;
  }

  .host__blocks .host__block-img {
    width: 400px;
  }

  .topics__blocks {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .topics__block {
    margin-bottom: 30px;
    width: 30%;
  }

  .topics {
    padding-bottom: 50px;
  }

  .topics__block h3 {
    font-size: 20px;
  }

  .footer__wrap .footer__two-block {
    width: 500px;
  }
}
@media (max-width: 876px) {
  .header .header__wrap .header__nav .header__items .header__item {
    margin-right: 30px;
  }

  .header__button .btnTransp {
    padding: 10px 35px 12px;
  }

  .btnTransp {
    padding: 15px 35px 16px;
  }

  .main__block-title .main__block-header h1 {
    font-size: 35px;
  }

  .episodes {
    padding: 100px 0 0px 0;
  }

  .host__blocks .host__block-img {
    width: 250px;
  }

  .topics__block h3 {
    font-size: 17px;
  }

  .connection__fon p {
    font-size: 14px;
  }

  .footer__wrap .footer__one-block {
    width: 300px;
  }

  .footer__wrap .footer__one-block .footer__one-wrap .footer_social a {
    margin-right: 45px;
  }

  .footer__wrap .footer__one-block .footer__one-wrap .footer_social a.dodt::after {
    right: -24px;
  }
}
@media (max-width: 834px) {
  h2 {
    font-size: 25px !important;
  }

  .host__blocks .host__block-text {
    width: 500px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer__wrap .footer__two-block {
    width: 100%;
  }

  .footer__wrap .footer__one-block {
    width: 400px;
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .header .header__wrap .header__nav .header__items .header__item {
    margin-right: 25px;
  }

  .main__block-title .main__block-header h1 {
    font-size: 25px;
  }

  .episodes {
    padding: 50px 0 0px 0;
  }

  .episodes .episodes__wrap .episodes__block {
    width: 365px;
  }

  .episodes__block-title h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header__button .btnTransp {
    padding: 10px 30px 12px;
  }

  .header .header__wrap .header__nav .header__items .header__item {
    margin-right: 20px;
  }

  .btnTransp {
    padding: 15px 30px 16px;
  }

  .main__block-title .main__block-header h1 {
    line-height: 50px;
  }

  .main__block {
    min-height: 790px;
  }

  .episodes .episodes__wrap .episodes__block {
    width: 48%;
  }

  .host__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .host__blocks .host__block-img {
    width: 500px;
  }

  .host__blocks .host__block-text {
    width: 100%;
  }

  .topics {
    padding-top: 50px;
  }
}
@media (max-width: 736px) {
  .header .header__wrap .header__bars {
    display: block;
  }

  .header .header__wrap .header__wrap-navBtn {
    display: none;
  }

  .btnTransp {
    padding: 15px 20px 15px;
  }

  .main__block {
    min-height: 690px;
    padding-top: 135px;
  }

  .topics__block h3 {
    font-size: 15px;
  }

  .footer__wrap .footer__one-block {
    width: 470px;
  }

  .topics__block {
    width: 32%;
  }

  .episodes__block-brend span {
    font-size: 14px;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn .header__item .header__link {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .main__block .main__block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__block {
    min-height: 1025px;
  }

  .main__block-img {
    margin-right: 0;
    margin-top: 0;
    background-position: top center;
    height: 350px;
  }

  .main__block-title .main__block-social .block__social-wrap img {
    width: 94px;
    height: 22px;
  }

  .host__blocks .host__block-img {
    width: 100%;
  }

  .episodes .episodes__wrap .episodes__block {
    width: 80%;
  }

  .topics__block {
    width: 80%;
  }

  .host__blocks .host__block-img {
    background-position: top center;
    height: 350px;
    margin-bottom: 50px;
  }

  .connection__fon form input[type=email] {
    width: 220px;
  }

  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__bottom .footer__bottom-copy {
    margin-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .btn, .btnTransp {
    padding: 15px 25px;
  }

  .main__block-title .main__block-social .block__social-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .connection__fon form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .connection__fon form input[type=email] {
    margin-bottom: 10px;
  }

  .connection__fon form input[type=submit] {
    margin-left: 0;
  }

  .connection__fon form input[type=email], .connection__fon form input[type=submit] {
    width: 100%;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 20px !important;
  }

  .main__block-title .main__block-branding span {
    font-size: 14px;
  }

  .main__block-title .main__block-branding span.span_dodt {
    margin-right: 10px;
  }

  .main__block-title .main__block-branding span.span_dodt::after {
    right: -8px;
  }

  .episodes .episodes__wrap .episodes__block, .topics__block {
    width: 100%;
  }

  .btnTransp {
    padding: 12px 11px 12px;
    font-size: 14px;
  }

  .btn {
    padding: 12px 19px;
  }
}
@media (width: 360px) and (height: 740px) {
  .main__block-title .main__block-branding span {
    font-size: 14px;
  }

  .btn, .btnTransp {
    padding: 15px 20px;
  }
}
@media (width: 912px) and (height: 1368px) {
  .header .header__wrap .header__nav .header__items .header__item {
    margin-right: 40px;
  }

  .host__blocks .host__block-img {
    width: 100%;
    margin-bottom: 50px;
  }

  .host__blocks .host__block-text {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (width: 736px) and (height: 414px) {
  .main__block .main__block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__block-img {
    width: 445px;
  }

  .mobile__menu_active {
    overflow: auto;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn .header__item .header__link {
    font-size: 40px;
  }
}
@media (width: 667px) and (height: 375px) {
  .main__block .main__block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .topics__block {
    width: 32%;
  }

  .mobile__menu_active {
    overflow: auto;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn .header__item .header__link {
    font-size: 40px;
  }
}
@media (width: 568px) and (height: 320px) {
  .main__block .main__block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .topics__block {
    width: 48%;
  }

  .mobile__menu_active {
    overflow: auto;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .mobile__menu .header__wrap .header__wrap-navBtn .header__item .header__link {
    font-size: 40px;
  }
}
